doctype html
html
  head
    title Crud Forge
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container
      h1 CRUD Forge
      form(action='/cruds', method='post')
        input(type='text', name='name', placeholder='Enter CRUD name', required)
        button(type='submit') Create CRUD
      h2 Existing CRUDs
      ul
        each crud in cruds
          li
            a(href=`/crud/${crud}`) #{crud}
    footer
      p &copy; 2024 Fernando - Todos os direitos reservados
