doctype html
html
  head
    title CrudForge
  body
    h1 CRUD Management
    form(action='/cruds', method='post')
      input(type='text', name='name', placeholder='Enter CRUD name')
      button(type='submit') Create CRUD

    h2 Existing CRUDs
    ul
      each crud in cruds
        li
          a(href=`/crud/${crud}`) #{crud}
